<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">
    <div class="row no-gutters">

      <div *ngFor="let countBox of countBoxes" class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i [class]="countBox.icon"></i>
          <span class="purecounter" [attr.data-purecounter-start]="0" [attr.data-purecounter-end]="countBox.count" data-purecounter-duration="1"></span>
          <p><strong>{{ countBox.title }}</strong> {{ countBox.description }}</p>
          <a [href]="countBox.link">Find out more &raquo;</a>
        </div>
      </div>


    </div>

  </div>
</section>
<!-- End Counts Section -->
