<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <img src="/img/logo.png" alt="Medicio Logo">
    <h1 class="logo me-auto">Medicio</h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <a class="nav-link scrollto" routerLink="/">Home</a>
      <a class="nav-link scrollto" routerLink="/about">About</a>
      <a class="nav-link scrollto" routerLink="/services">Services</a>
      <a class="nav-link scrollto" routerLink="/department">Departments</a>
      <a class="nav-link scrollto" routerLink="/doctors">Doctors</a>
      <a class="nav-link scrollto" routerLink="/contact">Contact</a>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <button routerLink="/appointment" routerLinkActive="router-link-active" class="appointment-btn scrollto">
      <span class="d-none d-md-inline">Make an</span> Appointment
    </button>
  </div>
</header>
