  <!-- ======= Frequently Asked Questioins Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" >

      <div class="section-title">
        <h2>Frequently Asked Questioins</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <ul class="faq-list">
        <li *ngFor="let faq of faqs">
          <div data-bs-toggle="collapse" class="collapsed question" [attr.href]="'#' + faq.id">
            {{ faq.question }}
            <i class="bi bi-chevron-down icon-show"></i>
            <i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div [id]="faq.id" class="collapse" data-bs-parent=".faq-list">
            <p>{{ faq.answer }}</p>
          </div>
        </li>
      </ul>

    </div>
  </section>
