 <!-- ======= Pricing Section ======= -->
 <section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Pricing</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6" *ngFor="let plan of pricingPlans; let i = index">
        <div class="box" [class.featured]="plan.isFeatured" data-aos="fade-up" [attr.data-aos-delay]="(i+1) * 100">
          <span *ngIf="plan.isAdvanced" class="advanced">Advanced</span>
          <h3>{{ plan.name }}</h3>
          <h4><sup>$</sup>{{ plan.price }}<span> / month</span></h4>
          <ul>
            <li *ngFor="let feature of plan.features" [class.na]="!feature.available">
              {{ feature.text }}
            </li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>


    </div>

  </div>
</section>
<!-- End Pricing Section -->
